<app-navbar>{{title}}</app-navbar>
<app-student></app-student>
<div *ngIf="loading === false; else content" class="container">
    {{ edad }}
    <button [disabled]="isDisabled" (click)="edad = edad +1">Aumentar</button>


    <div *ngFor="let name of namesArray">
        <p>{{name}}</p>
    </div>

    {{ myDate | date:'dd/MM/yyyy'}}

    <app-perfil-usuario></app-perfil-usuario>

    <app-hijo [name]="name" (nameChange)="nameChange($event)"></app-hijo>

    <button #btnMain type="button" class="btn btn-success">Success</button>
</div>

<ng-template #content>
    cargando....
    <app-hijo [name]="name"></app-hijo>
</ng-template>